* {
    border: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(169, 99, 146);
    display: flex;
    flex-direction: column;
    
}
header {
    width: 70%;
    height: 102px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 10px auto; 
    border: 6px solid rgb(169, 88, 146);
    background-color: rgb(198, 116, 171);
    /* text-align: center; */
}
header h1 {
    width: 50%;
    padding: 6px;
    border: 6px solid rgb(169, 88, 146);
    background-color: rgb(221, 131, 191);
    text-align: center;
    /* margin: 10px auto; */
}
nav {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    /* padding: 3px; */
    /* margin: auto; */
   

}
nav a {
    /* font-family: sans-serifs; */
    margin: 3px;
    padding: 3px;
    background-color: rgb(204, 103, 254);
    font-weight: 600;
    border: 4px solid black;
}