* {
    border: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(132, 173, 232);
    
    
}
#masterGrid {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:       
     "header header"
        "gennotes attribs"
        "break break"
        "boxnotes boxim"
        "break2 break2"
        "flexbox grids"
        "footer footer";
    
}
    
  

#header {
    grid-area: header;
}
#gennotes {
    grid-area: gennotes;
}
#attribs {
    grid-area: attribs;
}
#break {
    grid-area: break;
    background-color: black;
    padding: 10px;
}
#break2{
grid-area: break2;
background-color: black;
padding: 10px;
}
#boxnotes {
    grid-area: boxnotes;
}
#boxim {
    grid-area: boxim;
}
#flexbox {
    grid-area: flexbox;
}
#grids {
    grid-area: grids;
}
.gridcell {
    border: 2px solid white;
}


