.types {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    padding: 20px;
    margin-left: auto;
}

.button{
    width: 30%;
    margin: auto;
    background-color: seagreen;
    color: white;
    border:4px solid darkgreen;
}