


.types {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Nested cards, needs less padding */
.card {
    padding: 20px;
    margin-left: auto;
}
#DomGenInfo{
    display: flex;
}

