:root {
  --main: rgb(184, 215, 255);
  --secondary: rgb(155, 190, 235);
  --border: rgb(118, 154, 202);
  --body: rgb(223, 236, 253);
}


* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  color: black;

}

body {
  height: 100%;
  width: 100%;
background-color: var(--body);
}

header,
footer {
  height: 3.8rem;
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--main);
  color: var(--text);
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 5px;
  margin-bottom: 4px;
  text-align: center;
}

a {
  font-weight: bold;
  font-style: normal;
  padding: .3rem;
  margin: .09rem;
  text-align: center;
  background-color: var(--main);

}

a:hover {
  font-style: italic;
  background-color: rgb(184, 222, 255);
}

.border {
  border: 3px solid var(--border);
}

/* Card */
.card {
  width: 80%;
  padding: 8px;
  margin: 40px auto;
}

.outer {
  background-color: var(--secondary);
}

.inner {
  background-color: var(--main);
}

/* Page Menu */
.contents {
  width: 15%;
  margin: auto;
  margin-top: 2ex;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Page Link Grid */
.PLBox {
  display: flex;
  justify-content: center;
}

.Page_links {
  display: grid;
  width: 80%;
  padding: .5 rem;
  margin-top: 6px;
  background-color: var(--secondary);
  grid-template: 3 / 2;
  gap: 3px;
  grid-template-areas:
    "html css"
    "javaS gits"
    "bash bootStrap";
}


#html {
  grid-area: html;
}

#css {
  grid-area: css;
}

#javaS {
  grid-area: javaS;
}

#gits {
  grid-area: gits;
}

#bash {
  grid-area: bash;
}



img {
  display: block;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 40px;
  /* font-size: 20px; */

}



.button {
  width: 30%;
  margin: auto;
  font-weight: bold;
  background-color: var(--secondary);
  color: var(--text);

  margin-bottom: 7px;
}