:root {
  --main: rgb(184, 215, 255);
  --secondary: rgb(143, 179, 226);
  --border: rgb(118, 154, 202);
  --text: black;
}


* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  text-decoration: none;
}
body {
  height: 100%;
  width: 100%;


}
header,
footer {
  width: auto;
  height: 120px;
  padding: 10px;
  
  background-color: var(--main);
  color: var(--text);
}
/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 4px;
  text-align: center;
}
a {
  font-weight: bold;
  font-style: normal;
  color: var(--text)
}
.border {
  border: 5px solid var(--border);
}
/* Card */
.card {
  width: 80%;
  padding: 8px;
  margin: 40px auto;
}
.outer {
  background-color: var(--main);
}
.inner {
  background-color: var(--secondary);
}
/* Page Menu */
.contents {
  width: 40%;
  margin: auto;
  margin-top: 2ex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents a {
  width: 30%;
  padding: 7px;
  
  background-color: var(--main);
  text-align: center;
  }
  .contents a:hover {
    background-color: var(--secondary);
    font-style: italic;
  }

/* Page Link Grid */
.PLBox{
  display: flex;
  justify-content: center;
}
.Page_links {
  /* box-shadow: 5px 10px #888888; */
  display: grid;
  width: 80%;
  /* height: fit-content; */
  padding: .5 rem;
  text-align: center;
  /* margin: auto; */
  margin-top: 6px;
  background-color: var(--secondary);
  grid-template: 3 / 2;
  gap: 3px;
  grid-template-areas:
    "html css"
    "javaS gits"
    "bash bootStrap";
}
.Page_links a {
  background-color: var(--secondary);
  color: var(--text);
  

}
.Page_links a:hover{
  background-color: var(--main) ;
}
#html {
  grid-area: html;
}
#css {
  grid-area: css;
}
#javaS {
  grid-area: javaS;
}
#gits {
  grid-area: gits;
}
#bash {
  grid-area: bash;
}



img {
  display: block;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 40px;
  /* font-size: 20px; */

}



.button{
  width: 30%;
  margin: auto;
  font-weight: bold;
  background-color: var(--secondary);
  color: var(--text);
  
  margin-bottom: 7px;
}